@import '../../../assets/css/_colors.scss';

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

#brands-block {
  .image {
    cursor: pointer;
    box-sizing: border-box;
    aspect-ratio: 21/12;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    border-radius: 10px;
    background: var(--Card, #FFF);

    &:hover{
      img{
        filter: grayscale(0);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      filter: grayscale(1);

      transition: filter .15s ease-in;
    }
  }
}

/*============ MEDIA ==================*/
@media (max-width: 1240px) {

}

@media (max-width: 1221px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 992px) {

}

@media (max-width: 769px) {
  #brands-block .image{
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  #brands-block .image{
    padding: 5px 10px;
  }
}

@media (max-width: 498px) {

}

@media (max-width: 375px) {

}